<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
  <include resource="logger/base.xml"/>

  <logger name="lets.transfer" level="DEBUG"/>

  <logger name="org.eclipse" level="WARN" />
  <logger name="org.apache" level="WARN" />
  <logger name="org.springframework" level="WARN"/>
  <logger name="org.springframework.web" level="WARN"/>
  <logger name="org.springframework.security" level="WARN"/>
  <logger name="org.springframework.cache" level="WARN"/>


  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <root level="DEBUG">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
